.row-fluid
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} 我的项目
      %p
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} 我的任务
      %p
        TODO
.row-fluid
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} Home
      %p
        TODO
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} Home
      %p
        TODO
