.row-fluid
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} 我的项目
      %p
        - @projects.each do |project|
          %a{:href => "/projects/#{project.id}"} #{project.title}
  .span6
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            %a{:href => "index.html",:class => 'brand'} 我的任务
      %p
        - @tickets.each do |ticket|
          %a{:href => "/tickets/#{ticket.id}"} #{ticket.title}
