#leftcolumn
  #leftpanel
    .leftpanel-wrapper
      %ul.nav.nav-pills.nav-stacked
        %li.user-container
          %a{:href => "/"}
            %img{:src => "/images/100/07.png"}/
            Gwen
        %li
          %a{:href => "/"}
            %i.icon-large.icon-home
            Dashboard
        %li.active
          %a{:href => "/projects"}
            %i.icon-large.icon-file
            Projects
        %li
          %a{:href => "/"}
            %i.icon-large.icon-random
            Workflow
        %li
          %a{:href => "/report"}
            %i.icon-large.icon-bar-chart
            Charts
        %li
          %a{:href => "/users"}
            %i.icon-large.icon-user
            Users
        %li
          %a{:href => "/tickets"}
            %i.icon-large.icon-table
            Tickets
  .clearfix

